<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%= user._id %>" method="post">
        <input type="text" name="name" placeholder="Enter username" value="<%= user.username %>">
        <input type="email" name="email" placeholder="Enter email" value="<%= user.email %>">
        <input type="password" name="password" placeholder="Enter password" value="<%= user.password %>">
        <button type="submit">Update</button>
    </form>
    
</body>
</html>